.is-invalid
{
  border-color: #dc3545;
  color: #dc3545;
  margin-left: 5px;
}

.is-invalid:focus
{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25)
}

.is-valid
{
  border-color: #28a745;
}

.is-valid:focus
{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25)
}

p
{
  margin-bottom: 2px;
  margin-top: 2px;
}